<h1>Formulaires</h1>

<p>Attention: pour utiliser NgModel, il faut
importer FormsModule dans AppModule.</p>

<p>NgModel permet de lier une variable du composant avec un input, et de
la mettre à jour ( quasi ) en temps réel quand l'input est modifié.</p>


<h2>Barre de recherche : </h2>

<p>
  <label for="search">Recherche :</label>
  <input id="search" [(ngModel)]="userSearch" type="search" />
</p>

<h3>Vous avez recherché : </h3>
<p>{{userSearch}}</p>

<h2>Inscription</h2>

<p>{{concat()}}</p>

<form (ngSubmit)="handleSubmit()">
  <div>
    <label for="name">Nom</label>
    <input (blur)="checkName()" id="name" [(ngModel)]="user.name" name="name">
    <p *ngIf="nameError" style="color: red">Veuillez entrer un nom valide</p>
  </div>
  <div>
    <label for="email">Email</label>
    <input id="email" [(ngModel)]="user.email" type="email" name="email">
  </div>
  <div>
    <button type="submit">Save</button>
  </div>
</form>

