<h1>Syntaxe de template</h1>

<h2>Interpolation</h2>
<p>Pour interpoler du JS à l'intérieur du template, grâce aux balises moustaches</p>
<ul>
  <li>1 + 1 = {{ 1 + 1 }}</li>
  <li>String : {{ 'String' }}</li>
  <li>Caractères réservés : {{ '<, {{, >, ...' }}</li>
  <li>Exemple de code : {{ chaine }}</li>
  <li>Message : {{ message }}</li>
  <li>Name : {{name}}</li>
</ul>

 <h2>Data Binding</h2>
  <p>Le data binding c'est la possibilité de faire interpréter du JS
    et donc de remplir dynamiquement les valeurs n'importe quelle attribut HTML.
  </p>

  <div class="img">
    <img [src]="imageUrl" alt="texte alternatif"/>
  </div>

  <div class="img">
    <img [src]="image.source" [alt]="image.alt">
  </div>


  <p [class]="maclasse">
    {{paragraphe}}
  </p>

<p [ngClass]="(paragraphe.length > 5)? 'blue' : 'red'">{{paragraphe}}</p>


  <p [ngClass]="{
        blue: paragraphe.length > 5,
        centered: true,
        'toto bidule': false
        }"
  >
    NgClass : peut prendre, comme valeur : une string, un tableau de strings,
    ou un objet au format : {{ '{' }} classe : condition ( boolean, truhty / falsy )}
  </p>


  <h2>Evenements</h2>

  <div class="btn-container">
    <button (click)="handleClic()">Clic</button>
  </div>
  <p class="block" (mouseover)="handleOver()">Over me !</p>

  <div class="block" (click)="clicParent()"> Clic Parent
    <p class="block" (click)="clicEnfant($event)">Clic Enfant
      <button (click)="clicBtn($event)">Clic</button>
    </p>
  </div>

<button [attr.aria-label]="'Envoyer le document'">Icone</button>



  <div>
    <p  [ngClass]="isLogged? 'blue'  : 'red'">
      {{isLogged? 'Vous êtes connecté.e' : 'Vous êtes déconnecté.e' }}
    </p>
    <p>
      <button (click)="login()">Login</button>
    </p>
  </div>



  <h2>L'affichage conditionnel</h2>

  <h3>If</h3>
  <div *ngIf="isLogged">
    Vous êtes connecté.e !
  </div>


  <h3>If Else</h3>

  <div *ngIf="isLogged; else elseBlock">
    Block de code si connecté.e
  </div>

  <ng-template #elseBlock>
    <div>
      Block de code si non connecté.e
    </div>
  </ng-template>

  <h2>For Of</h2>

<p>Le ngFor se met sur l'élément à répéter. ça peut être une simple balise, ou un block
de code complexe.</p>

  <h3>Simple</h3>
  <ul>
    <li *ngFor="let f of fruits">{{f}}</li>
  </ul>

  <h3>Index</h3>

  <ul>
    <li *ngFor="let f of fruits; index as i">{{f}}, à l'index {{i}}</li>
  </ul>

  <h3>Locale Variables</h3>

  <ul>
    <li *ngFor="let f of fruits; odd as odd" [ngClass]="{blue: odd}">
      {{f}}
    </li>
  </ul>

  <h3>Objets</h3>

  <ul>
    <li *ngFor="let obj of image | keyvalue">
      {{obj.key}} : {{obj.value}}
    </li>
  </ul>


