.img {
  width: 60%;
  margin: auto;
}

.img img {
  width: 100%;
}

.red {
  color: red;
}

.blue {
  color: #38d6d6;
}

.block {
  border: solid 2px;
  background: aquamarine;
  padding: 30px;
}

div.block {
  background: brown;
}
