<p>
  {{isLogged? 'Vous êtes connecté⋅e' : 'Veuillez vous connecter'}}
</p>
<p *ngIf="isLogged">
  <button (click)="logout()">Logout</button>
</p>
<nav>
  <ul>
    <li>
      <a href="https://www.dawan.fr" target="_blank">Dawan</a>
    </li>
    <li>
      <a [routerLink]="'/syntaxe'">Syntaxe</a>
    </li>
    <li>
      <a [routerLink]="'/communication'">Communication</a>
    </li>
    <li>
      <a [routerLink]="'/pipes'">Pipes</a>
    </li>
    <li>
      <a [routerLink]="'/form'">Formulaires</a>
    </li>
    <li>
      <a [routerLink]="'/reactive-form'">Forms Reactifs</a>
    </li>
    <li>
      <a [routerLink]="'/observables'">Observables</a>
    </li>
    <li>
      <a [routerLink]="'/lifecycle'">Cycle de Vie</a>
    </li>
    <li>
      <a [routerLink]="'/http'">HTTP</a>
    </li>
    <li>
      <a [routerLink]="'/observables-bis'">Observables Bis</a>
    </li>
    <li *ngIf="!isLogged">
      <a [routerLink]="'/login'">Login</a>
    </li>
    <li *ngIf="isLogged">
      <a [routerLink]="'/secret'">Secret</a>
    </li>
  </ul>
</nav>
